<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<table>
    <thead>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    </thead>
    <tbody>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.title}">sample task</td>
        <td th:text="${task.description}">fixme</td>
        <span th:if="${task.user != null}">
            <td th:text="${task.user.getName()}">User</td>
        </span>
        <span th:if="${task.user == null}">
            <td>
                <form action="/mvc/assignTask" method="post">
                    <input type="text" name="taskId" th:value="${task.id}" hidden>
                    <input type="text" name="userId" required>
                    <input type="submit" value="Assign Task">
                </form>
            </td>
        </span>
    </tr>
    </tbody>
</table>
</body>
</html>